APP_ENV=production
APP_URL=https://cuentasclaras.pagani.ar
SESSION_SECURE=1
FPM_BIND=127.0.0.1
FPM_PORT=9001

INIT_USER_USERNAME=facu
INIT_USER_PASSWORD=cambiar-esta-clave
INIT_USER_NAME=Facu
INIT_SECOND_USER_USERNAME=judi
INIT_SECOND_USER_PASSWORD=cambiar-esta-clave-tambien
INIT_SECOND_USER_NAME=Judi
